.margen-superior-main {
  margin-top: 40px;
  padding: 20px;
}

.texto-marca {
    color: rgb(226, 43, 43) !important;
}

.color-encabezado {
  background-color: brown !important;
  border-color: rgb(0, 0, 0) !important;
}

.color-boton{
  background-color: rgb(142, 42, 42) !important;
  border-color: rgb(0, 0, 0) !important;
}